/*******************************body****************************/
html{
	

}

h1, h2, h3{
	font-family: 'Hammersmith One', sans-serif;
}



/*******************************header***************************/
body{
	width: 100%;
	background-color: #f9f9f9;

}

header{
	background-color: #43669e;;
	color: #fff;
	height: 100px;
}

h1{
	font-size: 2em;
	padding: 25px 0px;
}

/*******************************main***************************/

	
main {
background-color: #f9f9f9;
margin: 0 auto;
}			

nav{
	background-color: #27477f;	
	float: left;
	padding: 40px;
	height: 900px;
}



.sommaire{
	padding-top: 60px;
	padding-bottom: 60px;
}

#sommaire a{
	padding-bottom: 15px;
	display:block;
	width: 100%;
	color: #fff;
}


.item{
padding: 30px;
margin: 0 auto;
display: inline-block;

}

.btn {
	padding : 10px;
	margin: 10px 5px;
	background-color: #27477f;
	color: white;
}
.right {
	float: right;
}
#error {
	display:none;
	color:red;
	font-style: italic;
	font-weight: bolder;
}
#calendar {
	max-width: 100%;
	margin: 0 auto;
}
.fc-event, .fc-event:hover {
	color: #fff !important;
}

#chart {
	width: 95%;
	height: 500px;
}

#chart rect {
	fill: #43669e;
}

#chart text {
	fill: #43669e;
	font: 10px sans-serif;
	text-anchor: end;
}

.axis text {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #43669e;
	shape-rendering: crispEdges;
}